body {
  margin: 0px;
}

#header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-evenly;
  height: 500px;
  padding-top: 10px;
}


#navbar-logo {
  font-size: 25px;
  color: #f9faf8;
  font-weight: bolder;
}

#navbar-links a {
  margin: 15px;
  text-decoration: none;
}

#header-main-text {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
}

#header-secondary-text{
  font-size: 18px;
  color: #e5e7eb;
}

#header-mamin-text, #header-secondary-text{
  margin-bottom: 10px;
}

#header button{
  background-color: #3882F6;
  padding: 8px 30px;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

#header-left{
 /* border: 3px solid red; */
 width: 25%;
}


#header-right{
  /* border: 3px solid green; */
  display: flex;
  flex-direction: column;
  align-items:flex-end;
}

#navbar-links {
  /* border: 3px solid purple; */
  font-size: 18px;
  color: #e5e7eb;
}

#header-image{
  height: 250px;
  width: 500px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
}

#navbar-logo, #navbar-links{
  padding-bottom: 100px;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

#info-header{
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
  text-align: center;
  margin: 40px;
}

#info{
  display: flex;
  justify-content: center;
  gap: 75px;
  padding-bottom: 50px;
}

.info-content{
  width: 8%;
  text-align: center;
}

.info-square{
  height: 150px;
  width: 150px;
  border: 3px solid rgb(30, 88, 214);
  border-radius: 8px;
  margin-bottom: -8px;
}
